.image-container {
  overflow: hidden;
  position: relative;
  height: 442px;
}

.image-container > img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.image-container > img.portrait {
  width: 100%;
  height: auto;
}
